@model SalesViewModel

@{
    ViewBag.Title = "Sales Forecasting";
}

<h2 class="my-4">Sales Forecasting</h2>

@using (Html.BeginForm("SalesByYear", "Sales", FormMethod.Post, new { @class = "mb-3" }))
{
    <div class="form-box border p-4 mb-3 bg-light rounded">
        <h3>1. Query Sales By Year</h3>
        <div class="form-group">
            <label for="Year">Year:</label>
            @Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Query Sales</button>
    </div>
}

@using (Html.BeginForm("ApplyIncrement", "Sales", FormMethod.Post, new { @class = "mb-3" }))
{
    <div class="form-box border p-4 mb-3 bg-light rounded">
        <h3>2. Apply Increment Percentage</h3>
        <div class="form-group">
            <label for="Year">Year:</label>
            @Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="percentageIncrement">Increment Percentage:</label>
            @Html.TextBoxFor(m => m.percentageIncrement, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Apply Increment</button>
    </div>
}

@using (Html.BeginForm("ExportCsv", "Sales", FormMethod.Post, new { @class = "mb-3" }))
{
    <div class="form-box border p-4 mb-3 bg-light rounded">
        <h3>3. Export CSV</h3>
        <input type="hidden" name="Year" value="@Model.Year" />
        <input type="hidden" name="IncrementPercentage" value="@Model.percentageIncrement" />
        <button type="submit" class="btn btn-success">Export to CSV</button>
    </div>
}
